@font-face {
  font-family: "FuturaBoldCon";
  src: url(../FuturaPTCondBold.otf);
}

@font-face {
  font-family: "FuturaLightCon";
  src: url(../FuturaLightCondensedBT.ttf);
}

@font-face {
  font-family: "BrandonGrotesqueRegular";
  src: url(../Brandon_reg.otf);
}

@font-face {
  font-family: "BrandonGrotesqueMedium";
  src: url(../Brandon_med.otf);
}

@font-face {
  font-family: "BrandonGrotesqueBold";
  src: url(../Brandon_blk.otf);
}

@media only screen and (max-width: 750px) {
  body {
    margin: 0;
    padding: 0;
    overflow-y: 0;
    color: #fff;
  }
  body .container {
    background-image: url(../img/COUNTDOWNmobile.png);
    background-size: 100% 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .container .firstpart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .container .firstpart img {
    width: 165px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }
  body .container .secondpart {
    margin-top: 40px;
    text-align: center;
  }
  body .container .secondpart .up {
    font-size: 25px;
    text-align: center;
    font-family: "BrandonGrotesqueRegular";
  }
  body .container .secondpart .up span {
    font-family: "BrandonGrotesqueBold";
  }
  body .container .secondpart .up p {
    margin-top: 100px;
  }
  body .container .secondpart .down {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .container .secondpart .down .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body .container .secondpart .down .box .up {
    font-size: 150px;
    font-family: "FuturaBoldCon";
    line-height: 0px;
    text-align: center;
  }
  body .container .secondpart .down .box .down {
    margin-top: -105px;
    font-family: "FuturaLightCon";
    font-size: 20px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .thirdpart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 140px;
  }
  body .container .thirdpart a {
    color: white;
    font-style: normal;
    text-decoration: none;
    font-family: "BrandonGrotesqueMedium";
    font-size: 22px;
    padding: 10px 50px;
    background: radial-gradient(47.54% 180.88% at 50% 50%, #1f9eff 0.98%, #1b9eff 36.79%, #0f9fff 71.76%, #009fff 100%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .container .thirdpart a:hover {
    opacity: 0.5;
  }
  body .container .divo {
    height: 1px;
  }
}

@media only screen and (min-width: 669px) {
  body {
    margin: 0;
    padding: 0;
    overflow-y: 0;
    color: #fff;
  }
  body .container {
    background-image: url(../img/bgcountdown.png);
    background-size: 100% 100%;
  }
  body .container .firstpart img {
    width: 165px;
    margin: 20px 0px 0px 40px;
  }
  body .container .secondpart {
    margin-top: -50px;
    text-align: center;
  }
  body .container .secondpart .up {
    font-size: 30px;
    text-align: center;
    font-family: "BrandonGrotesqueRegular";
  }
  body .container .secondpart .up span {
    font-family: "BrandonGrotesqueBold";
  }
  body .container .secondpart .up p {
    margin-top: 100px;
  }
  body .container .secondpart .down {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .container .secondpart .down .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body .container .secondpart .down .box .up {
    font-size: 250px;
    font-family: "FuturaBoldCon";
    line-height: 0px;
    text-align: center;
  }
  body .container .secondpart .down .box .down {
    margin-top: -165px;
    font-family: "FuturaLightCon";
    font-size: 28px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .thirdpart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 140px;
  }
  body .container .thirdpart a {
    color: white;
    font-style: normal;
    text-decoration: none;
    font-family: "BrandonGrotesqueMedium";
    font-size: 22px;
    padding: 10px 50px;
    background: radial-gradient(47.54% 180.88% at 50% 50%, #1f9eff 0.98%, #1b9eff 36.79%, #0f9fff 71.76%, #009fff 100%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .container .thirdpart a:hover {
    opacity: 0.5;
  }
  body .container .divo {
    height: 1px;
  }
}
/*# sourceMappingURL=style.css.map */